.places-home {
    position: relative;
    padding: 60px 0 80px;
    background: #fafafa url(../images/pattern.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    &__title {
        font-size: 32px;
        line-height: 42px;
        color: $blue;
        margin-bottom: 10px;
        font-weight: 600;
    }
    &__description {
        font-size: 15px;
        line-height: 22px;
        color: $text;
        margin-bottom: 20px;
        width: 450px;
        max-width: 100%;
    }
}

.list-users {
    position: relative;
    padding: 60px 0 0;
    &__title {
        font-size: 32px;
        line-height: 42px;
        color: $blue;
        margin-bottom: 30px;
        font-weight: 600;
        text-align: center;
    }
}

.location_box {
    padding: 10px;
    border: 1px solid #fafafa;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    margin-bottom: 30px;
    img {
        margin-bottom: 5px;
    }
    h2 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: $text;
        margin-bottom: 0;
    }
    p {
        font-size: 15px;
        line-height: 22px;
        color: $text;
        margin: 0;
    }
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.box-users {
    padding: 20px;
    border: 1px solid #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transition: all ease-in-out 0.3s;
    .image {
        flex: 0 0 80px;
        max-width: 80px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
    }
    .user-content {
        padding-left: 20px;
        h2 {
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            color: $text;
            margin-bottom: 0;
        }
        p {
            font-size: 15px;
            line-height: 22px;
            color: $text;
            margin: 0;
        }
    }
    &:hover {
        transform: scale(1.1);
    }
}